<?php

return array(
    'idAuth' => array(
        'entity_class' => 'IdAuth\Entity\User',
        'storage' => 'IdAuth\Session',
        'tryAdapters' => array(
            'IdAuth\Adapter\Doctrine',
        ),
        'defaultProvider' => '',
        'redirectionStrategy' => array(
            'useDifferentLayoutForAuth' => true,
            'authLayout' => 'idAuth/layout',
            'useDifferentLayoutForUnAuth' => true,
            'unauthLayout' => 'idAuth/layout',
            'noIdentityRedirUnauth' => 'idAuth/login',
            'hasIdentityRedirUnauth' => 'idAuth/login',
            'usePrevPageRedir' => true,
        )
    ),
);
