<?php

return array(
    'iap' => array(
        'storage' => 'Iap\Session',
        'tryProviders' => array(
            'Iap\Provider\DbTable',
        ),
        'redirectionStrategy'=>array(
            'useDifferentLayoutForAuth'=>true,
            'authLayout'=>'iap/layout',
            'useDifferentLayoutForUnAuth'=>true,
            'unauthLayout'=>'iap/layout',
            'noIdentityRedirUnauth'=>'iap/login',
            'hasIdentityRedirUnauth'=>'iap/login',
            'usePrevPageRedir'=>true,
        )
    ),
);
